/***********************************************************
 * These styles apply for native components on iOS.
 * Read more about native styles at http://docs.appgyver.com
 ***********************************************************/

navigation-bar {
  background-color: #87d7f0;
  color: #ffffff;
}

navigation-bar title {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

navigation-bar button,
navigation-bar back-bar-button {
  color: #ffffff;
  font-weight: 300;
}

navigation-bar back-indicator{
  background-image: url(icons/left.svg);
  background-size: 20;
}

tab-bar {
  background-color: #ffffff;
  border-top: none;
  color: #ff715b;
}

tab-bar tab-bar-item {
  color: #b2b2b2;
  font-family: "Avenir";
  font-size: 10px;
}

tab-bar tab-bar-item:selected {
  color: #ff715b;
}

tab-bar-item#tools {
  background-image: url(icons/tools.svg);
}

tab-bar-item#sessions {
  background-image: url(icons/home.svg);
}

tab-bar-item#profile {
  background-image: url(icons/profile.svg);
}
